.card_top {
  display: flex;
  align-items: center;
  height: 3rem;
  justify-content: space-between;
}

.card_title {
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.card_row {
  display: flex;
  margin: 1rem 0 1rem;
}

.left_info {
  width: 9rem;
  font-weight: 100;
  opacity: .8;
}

.right_info {
  font-weight: 300;
}

.card_top div form.card_del_form {
  margin-top: 0;
  width: auto;
  display: inline-block;
}

.card_top div form.card_del_form input {
  padding: 0;
  border-radius: 0;
}